* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 70px;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.air {
    max-width: 100px;
}

.hero--comp {
    display: flex;
    flex-direction: column;
}

.hero--img {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.card--main {
    width: 175px;
    /* display: flex;
    flex-direction: column; */
    font-size: 12px;
}
.card--swim {
    max-width: 100%;
    border-radius: 9px;
}
.card--list {
    display: flex;
    align-items: center;
}
.card--star {
    height: 14px;
}
.card--grey {
    color: #918E9B;
}
.card--bold {
    font-weight: bold;
}